.reveal section img {
    border: none;
    box-shadow: none;
    width: 100%;
    margin: auto;
    justify-content: right;
    display: block;
}

.reveal .top-logos {
    display: inline-block;
    width: 100%;
}

.reveal .logo-class {
    float: left;
    width: 450px;
    height: 100px;
}

.reveal p {
    font-size: 20px;
}

.MathJax {
    font-size: 75%;
}

.MathJax_Display {
    margin: 0!important;
    width: $smaller!important;
}
